<% include header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">DOG TRACKER UPLOAD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a href="/dogs" class="btn btn-info btn-block">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-push-4">
            <%- include('errorbox') %>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="uploadInputImageFile">Image File</label>
                    <input type="file" name="uploadInputImageFile" id="uploadInputImageFile" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="uploadInputName">Name</label>
                    <input type="text" class="form-control" name="uploadInputName" id="uploadInputName"
                           placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="uploadInputType">Type</label>
                    <input type="text" class="form-control" name="uploadInputType" id="uploadInputType"
                           placeholder="Type">
                </div>
                <div class="form-group">
                    <label for="uploadInputAge">Age</label>
                    <input type="number" min="0" max="100" class="form-control" name="uploadInputAge"
                           id="uploadInputAge" placeholder="Age (years)">
                </div>
                <div class="form-group">
                    <label for="uploadInputSex">Sex</label>
                    <select name="uploadInputSex" id="uploadInputSex" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Upload Dog"/>
                </div>
            </form>
        </div>
    </div>
</div>
<% include footer %>